
.contenedor .datos{
    border-top: 6px solid #376c8f;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.contenedor .datos .btnBuscar{
    background: #3890ca;
    color: #f2f2f2;
    height: 50px;
    width: 80px;
    font-size: 13px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}
.contenedor .datos .btnBuscar:hover{
    background: #44aadd;
    box-shadow: 3px 5px 10px #332f2c;
    transform: translate(-5px ,-6px);
    border-radius: 10px;
}

/*Ventana Modal*/
.container .Vmodal .modal-content .cuerpo .row{
    border-top: 6px solid #376c8f;
    background: #f2f2f2;
    padding-top:10px;
}